body {
    font-family:sans-serif;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F5F1E6;
    gap: 20px; 
}

nav img {
    height: 100px;
}

.meny {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.meny li {
    position: relative;
}

.meny a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    display: block;
}

.dropdown-innehall {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #234c2E;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 150px;
}

.dropdown-innehall li a {
    display: block;
    color: white;
    margin-top: 20px;
}

.dropdown-innehall li a:hover {
    background-color: #C49A6C;
}

.dropdown:hover .dropdown-innehall {
    display: block;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.home img {
    max-width: 1200px;
    max-height: 600px;
}

.kaffe {
    text-align: center;
}

.kaffe-produkter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.produkt {
    max-width: 300px;
    box-shadow: 1px 1px 5px;
}

.produkt img {
    width: 300px;
    height: 200px;
}

.produkt-lista {
     background-color: #234c2E;
     padding: 10px 10px;
     color: #fff;
}

.produkt:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    box-shadow: 10 px 10px 20px rgba(0, 0, 0, 0.2);
}

.produkt-lista button {
    background-color: #C49A6C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}