body {
    font-family:sans-serif;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F5F1E6;
    gap: 20px; 
}

nav img {
    height: 100px;
}

.meny {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.meny li {
    position: relative;
}

.meny a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    display: block;
}

.dropdown-innehall {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #234c2E;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 150px;
}

.dropdown-innehall li a {
    display: block;
    color: white;
    margin-top: 20px;
}

.dropdown-innehall li a:hover {
    background-color: #C49A6C;
}

.dropdown:hover .dropdown-innehall {
    display: block;
}

.kaffe {
    text-align: center;
}

.kaffe-produkter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.kaffe-produkter img {
    max-width: 200px;
    max-height: 300px;
}

.produkt:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    box-shadow: 10 px 10px 20px rgba(0, 0, 0, 0.2);
}