nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F5F1E6;
    gap: 20px; 
}

nav img {
    height: 70px;
}

.meny {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin 0;
}

.meny a {
    text-decoration: none;
    color: #C49A6C;
    font-weight: bold;
}
